<launch>
    <group ns="ot128">
        <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node" output="screen">
            <param name="pcap_file" type="string" value=""/>
            <param name="params_file" type="string" value="$(find hesai_ros_driver)/config/config_ot128.yaml"/>
            <param name="lidar_type" type="string" value="Pandar128"/>
        </node>
    </group>

    <group ns="qt128">
        <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node" output="screen">
            <param name="pcap_file" type="string" value=""/>
            <param name="params_file" type="string" value="$(find hesai_ros_driver)/config/config_qt128.yaml"/>
            <param name="lidar_type" type="string" value="PandarQT"/>
        </node>
    </group>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ot128_tf" args="0 0 1.8 0 0 0 base_link ot128_frame" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="qt128_tf" args="0 0 0 0 0 0 base_link qt128_frame" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hesai_ros_driver)/launch/dual_lidar.rviz" />
</launch>
